.theme {
    /*background: #0e90d2;*/
    background: #fff;
}

body {
    background: #f8f8f8;
}

.card-header {
    background: #fff;
    /*border-bottom: none;*/
    border-bottom: 1px solid #0000000f;
}

.card {
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    overflow: hidden;
    border-radius: 1rem;
}

.fa-folder {
    color: #79b8ff;
}

.fa-file {
    color: #9c7c7c;
}

a {
    text-decoration: none;
}
